@charset "UTF-8";
@font-face {
  font-family: "Reaver";
  src: local("Reaver"), url("../stylesheets/fonts/Reaver-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Radiance";
  src: local("Radiance"), url("../stylesheets/fonts/radiance.woff") format("woff");
  font-display: swap;
}
:root {
  --tipo-principal: Radiance, sans-serif;
  --tipo-secundaria: Reaver, serif;
  --color-titulo-nombre:#e5ded9;
  --color-titulo-cargo:#61b064;
  --color-titulo-lugar:#d9dfe6;
  --color-subtitle:#6b7785;
  --color-general:#9FA69C;
  --color-secundario:#FBB23F;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: var(--color-general);
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
input, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-general);
  line-height: 1.4em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #090f29; 
}
.section{
  max-width: 1200px;
  margin: 0px auto;
}
.row{
  display: grid;
  padding-top: 15px;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 15px;
}
.row2{
  position: relative;
  display: grid;
  grid-template-areas: "infoone infotwo";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.25rem;
}
.photo__img{
  height: 195px;
  border: 2px solid var(--color-secundario);
  border-radius: 20px;
}
.details__h1{
  font-family: var(--tipo-secundaria);
  font-size: 3rem;
  letter-spacing: 2px;
  color: var(--color-titulo-nombre);
  line-height: 1.3em;
}
.details__h2{
  font-family: var(--tipo-principal);
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  color:  var(--color-titulo-cargo);
  line-height: 1.3em;
  padding-bottom: 9px;
}
.details__p{
  font-size: 1.3rem;
  padding-bottom: 18px;
}
.details__social{
  display: flex;
  gap: 45px;
}
.social__img{
  width: 34px;
  height: 34px;
}
.social__a{
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: .5s;
}
.social__a:hover{
  
  box-shadow: 0 3px 8px rgba(251 178 63);
}
.logo__img {
  width: 57px;
  height: 57px;
  float: right;
}
.tittle{
  background-color: #131315;
  padding: 5px 15px;
}
.tittle__h4{
  font-family: var(--tipo-secundaria);
  color: var(--color-subtitle);
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.information__item{
  margin-top: 15px;
  background: rgba(63, 61, 61, 0.37);
  box-shadow: 4px 4px 16px rgba(0,0,0,.4);
}
.services__img{
  width: 100px;
  height: 100px;
  margin: auto;
}
.services__item{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 5px 15px;
}
.services__col{
  margin: 0 auto;
}
.services__p{
  text-align: center;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 15px;
}
.skills__p{
  color: var(--color-subtitle);
}
.skills__img{
  width:330px ;
  height:251px;
}
.list{
  list-style-position: inside;
  width: 100%;
}
.skills__list{
  columns: 2;
}
.list__item{
  font-size: 1rem;
  line-height: 2.1;
  color: var(--color-secundario);
}
.list__span{
  font-size: 1rem;
}
.information--col1{
  grid-area: infoone;
}
.information--col2{
  grid-area: infotwo;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 635px;
}
.information__tabs{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.information__label{
  font-family: var(--tipo-secundaria);
  background-color: #131315;
  color: var(--color-subtitle);
  font-size: 12.8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 0px;
  cursor: pointer;
  width: 196px;
  text-align: center;
}
.information--tabcontent{
  width: 100%;
  height: 590px;
  background: rgba(63, 61, 61, 0.37);
  box-shadow: 4px 4px 16px rgba(0,0,0,.4);
  order: 1;
  display: none;
}
.information__tabs input[type='radio']:checked + label + .information--tabcontent{
  display: block;
}
.information__tabs input[type='radio']:checked + label{
  text-shadow: 0 0 15px var(--color-general), 0 0 2px var(--color-secundario);
  color: var(--color-general);
  border-bottom: 3px solid var(--color-secundario);
}
.profile{
  padding: 15px 15px;
}
.profile__tittle{
  padding: 15px 0px;
}
.work__th {
  font-family: var(--tipo-secundaria);
    font-size: 0.8rem;
    letter-spacing: 2px;
    width: 25%;
    text-align: left;
    padding: 10px;
}

.work__tr--tbody:nth-child(odd) {
  background-color: rgb(39 39 45 / 32%);
}
.work__thead {
  color: var(--color-subtitle);
}
.work__td {
  padding: 10px;
  vertical-align: middle;
  hyphens: initial;
}
.work__td--large{
  width: 29%;
}
.work__td--button{
  width: 20%;
  padding: 0 20px;
}
.work__a--view{
  background-color: var(--color-secundario);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 5px 0px;
}
.work__a--view:hover{
  transition: .5s;
  box-shadow: 0 3px 8px rgba(251 178 63);
}

.work__img{
  margin: 0 auto;
  width: 20px;
  height: 20px;
}
.experience{
  padding: 15px 15px;
}
.experience__item{
  display: flex;
  gap: 1.3rem;
  border-bottom: 1px solid var(--color-general);
  padding-bottom: 15px;
  margin-bottom: 15px; 
}
.experience__item--one{ 
  animation: fade-down 0.4s;
}
.experience__item--two{
  animation: fade-down 0.8s;
}
.experience__h5{
  font-family: var(--tipo-secundaria);
  color: var(--color-subtitle);
}
.experience__p {
  height: 55.22px;
}
.experience__span{
  float: right;
}
.experience__img{
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 8px #000;
}
footer{
  padding: 5px;
  text-align: center;
  font-size: 0.9rem;
}
@keyframes fade-down {
  0%{
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@media screen and (width <= 767px) {
  .row{
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .row2{
    grid-template-areas: "infoone" "infotwo";
    grid-template-columns: 1fr;
  }
  .photo{
    width: 195px;
  }
  .logo{
    width: 57px;
    height: 57px;
  }
  .section{
    max-width: 280px;
  }
  .details__personal {
    text-align: center;
  }
  .information--col2{
    margin-top: 20px;
    position: relative;
    height: auto;
  }
  .information__label {
    width: 100%;
}
  .work{
    width: 280px;
  }
  .skills__img {
    width: 250px;
    height: 190px;
}
  .experience__p {
    height: auto;
}
.information--tabcontent{
  overflow-x: auto;
  height: auto;
}
}
@media screen and (767px <= width <= 1280px){
  .section{
    max-width: 740px;
  }
  .row{
    grid-template-columns: 2fr 5fr 1fr;
  }
  .row2{
    grid-template-areas: "infoone" "infotwo";
    grid-template-columns: 1fr;
  }
 .information--col2{
    position: relative;
  }
  .details__h1{
    font-size: 2.5rem;
  }
  .skills{
    justify-content: space-evenly;
  }
}