@charset "UTF-8";
/* Aquí definimos las Custom properties */
@font-face {
  font-family: "Reaver";
  src: local("Reaver"), url("/assets/stylesheets/fonts/Reaver-Bold.woff") format("woff");
}
@font-face {
  font-family: "Radiance";
  src: local("Radiance"), url("/assets/stylesheets/fonts/radiance.woff") format("woff");
}
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Radiance, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
 
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: #9FA69C;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/assets/image/fondo.webp");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  
}
.section{
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 20px;
}
.row{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 15px;
}
.row--2{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,590px));
  gap: 20px;
}
.photo__img{
  height: 195px;
  border: 2px solid #FBB23F;
  border-radius: 20px;
}

.details__h1{
  font-family: "Reaver",serif;
  font-size: 45px;
  color: #e5ded9;
  line-height: 1.3em;
}
.details__h2{
  font-family: "Radiance","Noto Sans",sans-serif;
  font-weight: 700;
  font-size: 24px;
  color:  #61b064;
  line-height: 1.3em;
  padding-bottom: 9px;
}
.details__p{
  font-size: 20px;
  color: #ffff;
  padding-bottom: 18px;
}
.details__social{
  display: flex;
  gap: 45px;
}
.social__img{
  width: 34px;
}
.social__a{
  border-radius: 50%;
  box-sizing: border-box;
  /*0 3px 8px rgb(220 222 227 / 80%)*/
  box-shadow: 0 3px 8px rgba(251 178 63);
  transition: .5s;
}
.social__a:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  
}
.logo__img {
  width: 100px;
  height: 57px;
  float: right;
}

.information{
  background-color: purple;
}
.projects{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 49%;
  height: 640px;
  background-color: yellow;
}
.services{
  height: 157px;
  background-color: black;
}
.skills{
  margin-top: 20px;
  height: 310px;
  background-color: white;
}
footer{
  text-align: center;
  font-size: 14px;
}

@media (max-width: 800px) {
  .row{
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .photo{
    width: 195px;
  }
  .logo{
    width: 100px;
    height: 57px;
  }
  .section{
    padding-left: 20px;
    padding-right: 20px;
   
  }
  .projects{
    position: static;
    width: 100%;
  }
}